*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2e2b2b;
}

.wapper{
    width: 90%;
    max-width: 1000px;
    min-width: 800px;
    margin: 0 auto;
}

.back{
    background-color: #63A8E8; 
    padding-top: 100px;
}
/*ヘッダー------------------------*/
header h1{
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;
    color: #fff;
    padding: 30px 0;
}

header nav{
    background-color: #eee;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 0;
}

header nav ul li {
    flex: 1; 
    text-align: center;
    padding: 10px 0; 
}

header nav ul li:hover{
    background-color: #3A6893;
}

header nav ul li a:hover{
    background-color: #3A6893;
}
/*紹介・概要------------------------*/
.introduction{
    height: 200px;
    background-color: #ddd;
    border-radius: 25px;
}

.introduction h2{
    text-align: center;
    padding: 20px 0;
}
/*検索タグ------------------------*/
.serch{
    margin-top: 50px;
}
/*ランキング表示------------------------*/
.ranking{
    width: 90%;
    max-width: 100%;
    /* min-width: 800px;  小さい画面でスクロールが出るので必要なければ外す */
    margin: 100px auto 0 auto; 
    box-sizing: border-box;
    padding: 20px 0;
}
/*------------------------*/
.intro-divider {
    display: flex;
    justify-content: center; 
}

.intro-divider img {
    width: 100vw;
    max-width: none;
    height: 150px;
    display: block;
}
/*------------------------*/